@layer base {
  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/Gilroy/Gilroy-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    src: url(/assets/fonts/Gilroy/Gilroy-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    src: url(/assets/fonts/Gilroy/Gilroy-SemiBold.woff2) format("woff2");
  }
  @font-face {
    font-family: "Heading-Pro-Wide";
    font-style: normal;
    font-weight: 400;    
    src: url(/assets/fonts/Heading-Pro-Wide/Heading-Pro-Wide-Book.woff2) format("woff2");
  }
  @font-face {
    font-family: "Heading-Pro-Wide";
    font-style: normal;
    font-weight: 900;
    src: url(/assets/fonts/Heading-Pro-Wide/Heading-Pro-Wide-Bold.woff2) format("woff2");
  }
  h1 {
    @apply text-2xl sm:text-4xl font-medium;
  }
  h2 {
    @apply text-xl sm:text-3xl font-medium;
  }
  h3 {
    @apply text-lg sm:text-2xl font-medium;
  }
  h4 {
    @apply text-base sm:text-lg font-medium;
  }
  button:disabled,
  a.disabled {
      @apply opacity-40 pointer-events-none;
  }
}